<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmartdev.komsi.g_mart">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HereMapService">
            <intent-filter>
                <!--Note, action name should not be changed.-->
                <action android:name="com.here.android.mpa.service.MapService.v3" />
            </intent-filter>
        </service>
        <meta-data android:name="com.here.android.maps.appid" android:value="HLGNS2fryKBaQVHxesDN"/>
        <meta-data android:name="com.here.android.maps.apptoken" android:value="goyz1DmNplUeqK7jTYYSog"/>
        <meta-data android:name="com.here.android.maps.license.key" android:value="F7U7BRxQ9C1uh0ZuTmg1KSWoR0c6U4w7koxg71dJQNxbnGhK4ENlRTritJBk1PHhwhxLJ/I1f/i+BTFSSyxgqTnsUV1pZfa1CCZxOKTYSiU98V8xA3Q+u/tY+btxA90SS8l1sOpOpKnwo8Vs2fDPEWoLpkyOFR3UjtkLajVGAFSRKNMUua5qXetlw/SQp+ojlxXeqkZu1q7tHwXFLyF08VrqqgTjdTuZRLspGcGQ9/pQB/Hive7t2gs6OsScH76pF8KIqtQUOL5QDBupgj4KkogSxFA38K8qv2/IApVUNroTseQpa/VitNvS2ar6QNV7ZsovyG64gOVTu3rv1JmaSVgFtfqkGOzyNn2pQF8y9UReJsi4f0LELf4cOfuD0ejhFF4LpKDAx0BgYDwCCeLbjdj2J57QcWl307UJ7is9hVGRGfyhQb4wb7ZzVfQaBi+PC8+hwUVweGpN5dD6pL6OHFYgy4wVvtTq+DyP829RXpWzMlM/J8gjlqxa5UJgtnYRjlgyoo7OUiHcJmwHyTbUvXRhE7AijXvrHioQZs2UQqejc9w6BtmL81WCOhjVKAkkonYBjt6k7RV2iC/9ay3ln4qFuglCeF3bzukV+6ijVK22RAxVfk7N6QDmvrL5I7uNyf9Czc5Lbwli1e7lqTXH+GaMm8xtGQRR97//cRLWm8w="/>
        <activity android:name=".Class.MapsActivity"></activity>
        <activity android:name=".Class.CleaningToolsCategoryActivity" />
        <activity android:name=".Class.FruitVegetablesCategoryActivity" />
        <activity android:name=".Class.MedicineCategoryActivity" />
        <activity android:name=".Class.DetailPesananKeranjangActivity" />
        <activity android:name=".Class.EditProfileActivity" />
        <activity android:name=".Class.DetailPesananRiwayatActivity" />
        <activity android:name=".Class.VerificationLoginActivity" />
        <activity android:name=".Class.LoginActivity" />
        <activity android:name=".Class.CigaretteCategoryActivity" />
        <activity android:name=".Class.GallonGasCategoryActivity" />
        <activity android:name=".Class.BathToolsCategoryActivity" />
        <activity android:name=".Class.BeverageCategoryActivity" />
        <activity android:name=".Class.SnackCategoryActivity" />
        <activity android:name=".Class.BasicNeedsCategoryActivity" />
        <activity android:name=".Class.StoreActivity" />
        <activity
            android:name=".Class.Register"
            android:theme="@style/AppTheme" />
        <activity android:name=".Class.PostSplashScreen" /> <!-- Splash screen -->
        <activity
            android:name=".Class.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Class.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>



</manifest>